.home {
    width: calc(100vw - 220px);
    /* height: 100vh; */
    padding: 10px 50px;
    /* border: 1px solid red; */
    /* overflow: scroll; */
}

.home .header {
    padding: 30px 0 50px 0;
}

.home .cards.reports {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 30px 1px; */
    width: 100%;
}

.home .charts {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.home .area-chart {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 58%;
    /* width: 700px; */
    padding: 20px;
    border-radius: 8px;
}

.home .pie-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* width: 400px; */
    width: 38%;
    padding: 20px;
    border-radius: 8px;
}